<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dd style="width: 34%">&nbsp;{L_LAST_TOPICS}</dd>
					<dd style="width: 33%">&nbsp;{L_TOP_TOPICS}</dd>
					<dd>&nbsp;{L_LAST_POSTS}</dd>
				</dl>
			</li>
		</ul>
		<ul  class="topiclist forums" >
		<!-- BEGIN topten_list -->
			<li>
				<dl>
					<dd style="width: 34%; padding: 1px">{topten_list.LAST_TOPIC_DATA} &nbsp;<a style="font-weight: bold" href="{topten_list.LAST_TOPIC_LINK}" title="{topten_list.LAST_TOPIC_TITLE} (in: {topten_list.LAST_TOPIC_FORUM})">{topten_list.LAST_TOPIC_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.LAST_TOPIC_AUTHOR})</span></dd>
					<dd style="width: 33%; padding: 1px">{topten_list.VIEW_TOPIC_VIEWS} &nbsp;<a style="font-weight: bold" href="{topten_list.VIEW_TOPIC_LINK}" title="{topten_list.VIEW_TOPIC_TITLE} (in: {topten_list.VIEW_TOPIC_FORUM})">{topten_list.VIEW_TOPIC_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.VIEW_TOPIC_AUTHOR})</span></dd>
					<dd style="padding: 1px"><a style=" font-weight: bold" href="{topten_list.LAST_POST_LINK}" title="{topten_list.LAST_POST_TITLE} (in: {topten_list.LAST_POST_FORUM})">{topten_list.LAST_POST_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.LAST_POST_AUTHOR})</span></dd>               
				</dl>
			</li>   
		<!-- END topten_list -->
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>

