<!-- IF POSITION eq '1' -->
<!-- IF S_REGISTERED_USER or TTT_GUEST -->
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dd style="width: 34%" class="responsive-hide">&nbsp;{L_LAST_TOPICS}</dd>
					<dd style="width: 33%" class="responsive-hide">
					<form action="index.php" method="post">
                        <div>
                        &nbsp;{L_TOP_TOPICS}&nbsp;&nbsp;&nbsp;&nbsp;                        
                            <select style="font: 10px Verdana, Arial, Helvetica, sans-serif; color: #FFFFFF; background: #859D90; width: 150px;" name="sel_views" onchange='this.form.submit()'>
                            <!-- IF TIME_SELECTED == '1' --><option value='1' selected="selected"><!-- ELSE --><option value='1'><!-- ENDIF -->{L_SIXMONTH}</option>
                            <!-- IF TIME_SELECTED == '2' --><option value='2' selected="selected"><!-- ELSE --><option value='2'><!-- ENDIF -->{L_TWELVEMONTH}</option>
                            <!-- IF TIME_SELECTED == '3' --><option value='3' selected="selected"><!-- ELSE --><option value='3'><!-- ENDIF -->{L_ALL_TOPICS}</option>
                            <!-- IF TIME_SELECTED == '4' --><option value='4' selected="selected"><!-- ELSE --><option value='4'><!-- ENDIF -->{L_THREEMONTH}</option>
                            <!-- IF TIME_SELECTED == '5' --><option value='5' selected="selected"><!-- ELSE --><option value='5'><!-- ENDIF -->{L_ONEMONTH}</option>	
                            </select>
                        </div>
                    </form>
					
					</dd>
					<dd>&nbsp;{L_LAST_POSTS}</dd>
				</dl>
			</li>
		</ul>
		<ul  class="topiclist forums" >
		<!-- BEGIN topten_list -->
			<li>
				<dl>
					<dd style="width: 34%; padding: 1px" class="responsive-hide">{topten_list.LAST_TOPIC_DATA} &nbsp;<a style="font-weight: bold" href="{topten_list.LAST_TOPIC_LINK}" title="{topten_list.LAST_TOPIC_TITLE} (in: {topten_list.LAST_TOPIC_FORUM})">{topten_list.LAST_TOPIC_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.LAST_TOPIC_AUTHOR})</span></dd>
					<dd style="width: 33%; padding: 1px" class="responsive-hide">{topten_list.VIEW_TOPIC_VIEWS} &nbsp;<a style="font-weight: bold" href="{topten_list.VIEW_TOPIC_LINK}" title="{topten_list.VIEW_TOPIC_TITLE} (in: {topten_list.VIEW_TOPIC_FORUM})">{topten_list.VIEW_TOPIC_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.VIEW_TOPIC_AUTHOR})</span></dd>
					<dd style="padding: 1px" class="responsive-show"><a style=" font-weight: bold" href="{topten_list.LAST_POST_LINK}" title="{topten_list.LAST_POST_TITLE} (in: {topten_list.LAST_POST_FORUM})">{topten_list.LAST_POST_TITLE_SHORT}</a> <span style="color: #708090">(di {topten_list.LAST_POST_AUTHOR})</span></dd>               
				</dl>
			</li>   
		<!-- END topten_list -->
		</ul>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- ENDIF -->
